
body{
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/b/b6/Image_created_with_a_mobile_phone.png/1280px-Image_created_with_a_mobile_phone.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#card0{
    height: 100px;
    width: 100px;
    border: 10px solid red;
    background-color: orangered;
    position: relative;
    
    transition: transform 5s , height 2s, width 2s;

}
#card0:hover{
    transform: rotate(360deg);

}


.card1{
    background-color: blue;
    margin-top: 2rem;
    
    border: 10px solid black;
    height: 100px;
    width: 100px;

}
.card1{
    animation-name: card1Test;
    animation-duration: 10s;

    animation-iteration-count: infinite;
}
@keyframes card1Test{
    from{ 
        background-color:black;
        
    }
    to{
        background-color: brown;
        
    }
}

.card2{
    background-color: purple;
    margin-top: 2rem;
    
    border: 10px solid yellow;
    height: 100px;
    width: 100px;

}
.card2{
    animation-name: card2Test;
    animation-duration: 10s;
    margin-top: 1rem;
    animation-iteration-count: infinite;

}
@keyframes card2Test{
    from{ margin-top: 50px;
        background-color:black;
        background-color: aliceblue;
    }
    to{margin-left: 1000px;
        background-color: brown;
        background-color: blue;
    }
}
.card3{
    background-color: red;
    margin-top: 2rem;
    
    border: 10px solid purple;
    height: 100px;
    width: 100px;

}
.card3{
    animation-name: card3Test;
    animation-duration: 10s;
    margin-top: 1rem;
    animation-iteration-count: infinite;

}
@keyframes card3Test{
    from{ margin-top: 5%;
        background-color:black;
        background-color: aliceblue;
    }
    to{margin-left: 5%;
        background-color: brown;
        
    }
}
.card4{
    background-color: yellow;
    margin-top: 2rem;
    
    border: 10px solid red;
    height: 100px;
    width: 100px;

}
.card4{
    height: 100px;
    width: 100px;
    border: 10px solid red;
    background-color: orangered;
    
    transition: transform 5s , height 2s, width 2s;

}
.card4:hover{
    transform: rotate(360deg);
    height: 7rem;
    width: 7rem;
    margin-bottom:6px 

}
.card4{
    animation-name: card4Test;
    animation-duration: 10s;
    margin-top: 1rem;
    animation-iteration-count: infinite;

}
@keyframes card4Test{
    from{ margin-top: 5%;
        background-color:black;
        
    }
    to{margin-left: 5%;
        background-color: brown;
        
    }
}
