button{
    margin: 20px;
    
   
   
    
}
.div1{
    margin-right: 0px;
    
    background-color: blue;
}
button:hover{
    color:green;
    background-color: aqua;
}
#div2{

   position: absolute;
   left: 300px;
   margin-top: 40px;
}
#h2{
    margin-top: 49px;
  position: absolute;
  left: 550px;
}
.div4{
    margin-top: 180px;
    background-color: rgb(27, 114, 237);
    padding: 20px;


}
.div5{
    background-color: blue;
    color: white;

}
h2{
   margin-left: 490px;
   padding: 10px;
}
.div6{
    margin-left: 130px;
    margin-top: 30px;
    font-size: 18px;
}
.fa-solid fa-house{
    margin-left: 30px;



    }